:root {
  --brand-color: #e07b52;
  --brand-hover: #e07b52;
}

.bg-brand {
  background-color: var(--brand-color) !important;
}
.bg-primary{
background-color: var(--brand-color) !important;
}

.text-brand {
  color: var(--brand-color) !important;
}

.nav-link.active.bg-primary {
  background-color: var(--brand-color) !important;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: var(--brand-hover) !important;
  color: white !important;
}
.bg-brand {
  background-color: #e07b52 !important;
}
.btn-outline-primary{
	color: #e07b52 !important;
}

.dropdown-menu {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* In AppLayout CSS */
.main-content {
  margin-left: 260px;
  padding: 20px;
}

.active>.page-link, .page-link.active{
  background-color: #e07b52 !important;
  border: #e07b52 !important;
}

.form-control:focus {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
    outline: none !important;
    box-shadow: none !important;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control, .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select, .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating){
  border-top-right-radius: 1!important;
  border-bottom-right-radius: 1!important;
}

.activeImage img{
  padding: 15px;
}
